<nav class="navbar navbar-expand-md navbar-light ">
  <div class="container-fluid">
  <div style="margin-left: 5%;">
  <a href="{% url 'index' %}" class="navbar-brand mr-3">
    <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="">
  </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 65%;">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav" style="margin-left: 30%"></div>"
    <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
        <input autocomplete="off"class="form-control d-none d-md-block" placeholder="Search" name="search_user" style="border: 1px solid #dbdbdb; background-color: #fafafa; height: 27.5px;width: 12.5rem ;border-radius: 3.5px;padding-left: 25px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;">
    </form>
  </div>

  <div class="collapse navbar-collapse" id="navbarToggle" style="margin-left: 30%;">
   
    <div class="navbar-nav">
      <a class="nav-item nav-link" data-toggle="modal" data-target="#post" href="#">
        <img src="https://img.icons8.com/material-sharp/28/000000/home.png"/>
      </a>

      <a class="nav-item nav-link" data-toggle="modal" data-target="#post" href="#">
        <img src="https://img.icons8.com/ios/30/000000/facebook-messenger--v1.png"/>
      </a>

      <a class="nav-item nav-link" data-toggle="modal" data-target="#post" href="#">
        <img src="https://img.icons8.com/ios/30/000000/plus-2-math.png"/>
      </a>
        
        <a class="nav-item nav-link" href="#">
           <svg aria-label="Find People" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M24 .5C37 .5 47.5 11 47.5 24S37 47.5 24 47.5.5 37 .5 24 11 .5 24 .5zm0 44c11.3 0 20.5-9.2 20.5-20.5S35.3 3.5 24 3.5 3.5 12.7 3.5 24 12.7 44.5 24 44.5zm-4.4-23.7c.3-.5.7-.9 1.2-1.2l14.8-8.1c.3-.1.6-.1.8.1.2.2.3.5.1.8l-8.1 14.8c-.3.5-.7.9-1.2 1.2l-14.8 8.1c-.3.1-.6.1-.8-.1-.2-.2-.3-.5-.1-.8l8.1-14.8zm6.2 5l4.3-7.8-7.8 4.3 3.5 3.5z" fill-rule="evenodd"></path></svg>
        </a>
        <a class="nav-item nav-link" href="#">
            <svg aria-label="Activity Feed" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z" fill-rule="evenodd"></path></svg>
        </a>
        <a class="nav-item nav-link" href="{% url 'profile' %}">
            <svg aria-label="Profile" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><g><path d="M24 27c-7.1 0-12.9-5.8-12.9-12.9s5.8-13 12.9-13c7.1 0 12.9 5.8 12.9 12.9S31.1 27 24 27zm0-22.9c-5.5 0-9.9 4.5-9.9 9.9s4.4 10 9.9 10 9.9-4.5 9.9-9.9-4.4-10-9.9-10zM44 46.9c-.8 0-1.5-.7-1.5-1.5V42c0-5-4-9-9-9h-19c-5 0-9 4-9 9v3.4c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V42c0-6.6 5.4-12 12-12h19c6.6 0 12 5.4 12 12v3.4c0 .8-.7 1.5-1.5 1.5z"></path></g></svg>
        </a>
   
    </div>
  </div>
</div>
</nav>