<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top navi">
      
      <a class="nav-link active text-white" aria-current="page" href="/">  &nbsp; Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav text-white">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a style ="color:black;" href="/admin" class="nav-item text-white" active-color="black"><i class="fas fa-user-tie text-white"></i>&nbsp; &nbsp;Admin</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="">
    
              <div class="input-group">
                <input type="text" class="form-control rounded-pill" placeholder="Search photos" name="photos">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search text-white" aria-hidden="true"></i></button>
                </div>
              </div>
    
            </form>
          </div>
    </nav>
</body>
</html>