{%extends 'instapp/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      {% for pic in image %}
      <div class="card" style="width: 40rem;">
        <img class="card-img-top" src="{{pic.image.url}}" alt="{{pic.name}}">
        <div class="card-body">
          <h5 class="card-title">{{pic.name}}</h5>
          <p class="card-text">{{pic.caption}}</p>
          <a href="#">{{pic.name}}</a>
        </div>
      </div> 
      {% endfor%}
    </div><hr>
    <div class="col-md-6">
      <div class="d-flex align-img-right">
        {% if profile.prof_photo %}
        <img class="prof" src="{{profile.prof_photo.url}}" alt="">
        {%else%}
        <img class="prof" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3aV6aq2LNho3SY8cDICGVEdRweW5u9IaZ_w&usqp=CAU" alt=""> 
        {% endif %}   
      </div>
    </div>
  </div>
</div>
{% endblock %}